:root {
  --dark-pink: hsl(22, 65%, 57%);
  --dark-gray: hsl(0, 0%, 6%);
  --light-gray: hsl(0, 0%, 95%);
  --off-white: hsl(0, 0%, 98%);
  --light-pink: hsl(21, 94%, 75%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --gray: hsl(0, 0%, 40%);
  --header-height: 90px;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
/* done */
body {
  margin: 0 auto;
  font-family: 'Manrope', sans-serif;
  font-size: 0.937rem;
  line-height: 1.56rem;
  max-width: 100rem;
  background-color: var(--white);
}
/* done */
.h1 {
  font-weight: 700;
  font-size: clamp(
    2.25rem,
    calc(2.25rem + ((1vw - 0.405rem) * 5.6818)),
    3.5rem
  );
  /* min-height: 0vw; */
  text-transform: uppercase;
  line-height: 3.625rem;
  letter-spacing: 2px;
}

/* done */
.h2 {
  font-weight: 700;
  font-size: clamp(
    1.75rem,
    calc(1.75rem + ((1vw - 0.405rem) * 3.4091)),
    2.5rem
  );
  text-transform: uppercase;
  line-height: 2.75rem;
  letter-spacing: 1.5px;
}

/* done */
.h3 {
  font-weight: 700;
  font-size: clamp(1.5rem, calc(1.5rem + ((1vw - 0.405rem) * 2.2727)), 2rem);
  text-transform: uppercase;
  line-height: 2.25rem;
  letter-spacing: 1.15px;
}

/* done */
.h4 {
  font-weight: 700;
  font-size: 1.75 rem;
  text-transform: uppercase;
  line-height: 2.375rem;
  letter-spacing: 2px;
}
/* done */

.h5 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 2.06rem;
  letter-spacing: 1.7px;
}
/* done */
.h6 {
  font-weight: 700;
  font-size: clamp(
    0.937rem,
    calc(0.937rem + ((1vw - 0.405rem) * 0.8545)),
    1.125rem
  );
  text-transform: uppercase;
  line-height: 1.5rem;
  letter-spacing: 1.3px;
}
/* done */
.overline {
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1.187rem;
  letter-spacing: 10px;
  color: var(--gray);
}
/* done */
.subtitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.812rem;
  line-height: 1.56rem;
  letter-spacing: 1px;
  /* color: var(--dark-pink); */
}

button {
  background: none;
  border: none;
}

.btn__pink {
  align-content: center;
  padding: 10px 30px;
  width: fit-content;
  background-color: var(--dark-pink);
  color: var(--white);
  transition: background-color 0.25s ease-in-out;
}

.btn__pink:hover {
  background-color: var(--light-pink);
}

.btn__black {
  min-height: 48px;
  align-content: center;
  padding: 10px 30px;
  width: fit-content;
  border: 1px solid var(--black);
  background: none;
  color: var(--black);
  transition: background-color 0.25s ease-in-out;
}

.btn__black:hover {
  background-color: var(--black);
  color: var(--white);
}

.btn__category {
  font-size: 0.812rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  align-content: space-between;
  padding: 0;
  color: var(--gray);
  transition: color 0.25s ease-in-out;
}

.btn__category:hover {
  color: var(--dark-pink);
}

.btn__category > img {
  margin-inline-start: 13px;
}

a {
  text-decoration: none;
  color: var(--white);
}

.uppercase {
  text-transform: uppercase;
}

/* ********************* HEADER ***************** */
header.home__header {
  background: none;
  grid-area: 1/1/2/2;
}

header {
  height: fit-content;
  background-color: var(--black);
  height: var(--header-height);
  padding: 24px;
  width: 100%;
  max-width: 100rem;
}

section,
footer {
  padding: 24px;
  width: 100%;
  max-width: 100rem;
}

.header__wrapper {
  max-width: 69rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
}

.desktop__nav {
  display: none;
}

.mobile__nav {
  display: none;
  position: absolute;
  left: 0px;
  top: 90px;
  width: 100vw;
  min-height: calc(100% - var(--header-height));
  background-color: rgba(0, 0, 0, 0.575);
}

.nav__wrapper {
  position: absolute;
  width: 100%;

  background-color: var(--white);
  padding: 50px 0px;
}

.nav__wrapper > ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile__nav .category__card {
  min-height: 12.5rem;
  /* 200px */
  padding: 24px;
  display: flex;
  align-items: flex-end;
}

.category__card__bg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  position: relative;
  border-radius: 8px;
  min-height: 9.2rem;
  width: 100%;
  background-color: var(--light-gray);
}

.category__card__bg > * {
  margin-top: -72px;
}
.category__card__bg > img {
  height: 114px;
}

.divider {
  grid-area: 2/1/3/2;
  border-color: var(--dark-gray);
  width: min(100%, 69rem);
  margin: 0 auto;
}

/* **********Hero */
.hero__img__wrapper {
  display: grid;
  grid-template-rows: var(--header-height) 1px 1fr;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 100rem;
  /* background-color: var(--dark-gray); */
}
.home__hero {
  grid-area: 1/1/4/2;

  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  grid-template-columns: 1fr 1fr;
  color: var(--white);
  min-height: 100%;
}
.content__wrapper {
  grid-area: 2/1/3/3;
  align-self: center;
  justify-self: center;
}
.home__hero picture {
  grid-area: 1/1/3/3;
  justify-self: center;
  align-self: center;
  margin: -25px -24px;
  display: block;
  z-index: -1;

  overflow-y: hidden;
}

.home__hero__text {
  display: flex;
  margin: auto 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}
/* CAtegories */

.visibily__hidden {
  position: absolute;
  top: 0;
  left: -10000px;
  width: 1px;
  height: 1px;
}
.home__categories {
  padding-top: 40px;
}
.categories__wrapper ul {
  max-width: 69rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.categories__wrapper ul > li {
  margin-top: 50px;
}

/* Favorites */

.home__favorites > article {
  border-radius: 8px;
  max-width: 69rem;
  margin: 24px auto;
  overflow: hidden;
}

.home__favorites > .favorite__one {
  position: relative;
  padding: 55px 24px;
  background-color: var(--dark-pink);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  gap: 24px;
}
.favorite__one picture > img {
  height: 12.94rem;
}
.favorite__one .circles {
  display: block;
  position: absolute;
  top: -121px;

  width: 34.85rem;
  height: 34.85rem;
  /* 558px */
}

.favorite__one h3 {
  width: 8ch;
  word-wrap: break-word;
  line-height: 2.5rem;
}

.favorite__one button {
  background-color: var(--black);
  border: none;
  color: var(--white);
  z-index: 10;
}
.favorite__one button:hover {
  background-color: var(--gray);
}

.home__favorites .favorite__two {
  min-height: 20rem;
  position: relative;
  padding: 55px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.favorite__two picture {
  display: block;
  position: absolute;
  right: 0px;
  margin-bottom: 0px;
  z-index: -1;
  align-self: center;
  width: fit-content;
  height: fit-content;
}
.favorite__two picture > img {
  min-height: 22.93rem;
  width: 100%;
}

.favorite__three picture > img {
  display: block;
  min-height: 13.75rem;
  width: 100%;
  border-radius: 8px;
}
.favorite__three {
  min-height: 26.5rem;
  flex-direction: column;
  display: flex;
  gap: 24px;
}
.favorite__three > .fav__three__text {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  min-height: 13.75rem;
  border-radius: 8px;
  justify-content: center;
  gap: 32px;
  padding: 0px 24px;
}
/* About us */
.about__us {
  max-width: 69rem;
  margin: 24px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.about__us picture > img {
  display: block;
  min-height: 18.75rem;
  width: 100%;
  border-radius: 8px;
}
.about__us > h3 {
  letter-spacing: 1px;
  line-height: normal;
}

.color__accent {
  color: var(--dark-pink);
}
.about__text {
  color: var(--gray);
}

/* Footer */

footer {
  padding-top: 0px;
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 48px;
  align-items: center;
  text-align: center;
}
/* footer > * {
  max-width: 69rem;
} */
.accent__line {
  height: 4px;
  width: 101px;
  background-color: var(--dark-pink);
  margin-top: 0;
}

footer a.subtitle {
  letter-spacing: 2px;
}

footer > nav > ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer > p {
  color: var(--gray);
}
.bold {
  font-weight: 700;
}
.filter__accent {
  filter: brightness(0) saturate(100%) invert(82%) sepia(41%) saturate(5719%)
    hue-rotate(326deg) brightness(90%) contrast(88%);
}

.socials img:hover {
  filter: brightness(0) saturate(100%) invert(82%) sepia(41%) saturate(5719%)
    hue-rotate(326deg) brightness(90%) contrast(88%);
}

nav a:hover {
  color: var(--dark-pink);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.socials > li > a {
  display: block;
  line-height: 12px;
}
/* ***************************************************** 
            TABLET  STYLES
********************************************************
*/

@media only screen and (min-width: 40.6rem) /* 650px */ {
  header {
    padding-left: 40px;
    padding-right: 40px;
  }

  .header__wrapper {
    justify-content: flex-start;
    gap: 24px;
  }

  .header__wrapper > .cart {
    margin-left: auto;
  }

  .nav__wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }

  .nav__wrapper > ul {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .nav__wrapper .category__card {
    padding-left: 0;
    padding-right: 0;
  }
  /* Hero */
  .content__wrapper {
    width: 50%;
  }

  /* Categories */

  .categories__wrapper ul {
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }
  .categories__wrapper ul > li {
    width: 100%;
  }
  .home__categories {
    padding: 60px 40px;
  }

  /*  Favorites */
  .home__favorites {
    padding: 30px 40px;
  }
  .home__favorites > .favorite__one {
    gap: 40px;
  }
  .favorite__one picture > img {
    height: 14.81rem;
  }
  .favorite__one .circles {
    top: -280px;
    width: 59rem;
    height: 59rem;
    /* 944px */
  }
  .favorite__one .h1 {
    font-size: 3.5rem;
    width: 8ch;
    word-wrap: break-word;
    line-height: 3.625rem;
  }
  .favorite__one p {
    max-width: 50%;
  }
  .home__favorites .favorite__two {
    padding-left: 60px;
    gap: 32px;
  }
  .favorite__three picture > img {
    height: 20rem;
  }
  .favorite__three {
    flex-direction: row;
    gap: 11px;
    min-height: 20rem;
  }
  .favorite__three > .fav__three__text {
    width: 50%;
    padding-left: 40px;
    gap: 32px;
  }

  /* about us */
  .about__us {
    padding: 30px 40px;
  }
  .about__us .h2 {
    font-size: 2.5rem;
  }
  .about__us .h2,
  .about__us .about__text {
    padding: 0px 60px;
  }

  /* footer */
  footer {
    position: relative;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, auto);
    align-items: center;
    text-align: left;
    gap: 28px;
  }
  footer .accent__line {
    position: absolute;
    top: 0;
    left: 40px;
  }
  footer .logo {
    grid-area: 1/1/4/3;
  }
  footer > nav {
    grid-area: 4/1/7/3;
  }
  footer > nav > ul {
    flex-direction: row;
  }
  footer > p {
    grid-area: 7/1/10/3;
  }
  footer .bold {
    grid-area: 10/1/13/2;
  }
  footer .socials {
    grid-area: 10/2/13/3;
    justify-self: end;
  }
}

/* 



*************************************************** 
            DESKTOP STYLES
******************************************************
*/
@media only screen and (min-width: 62.5rem) {
  header {
    display: flex;
    justify-content: center;
  }
  section,
  footer {
    width: 100%;
    max-width: 100rem;
  }
  /* nav a:hover {
    color: var(--dark-pink);
  } */
  .header__wrapper {
    width: 100%;
    justify-content: space-between;
    max-width: 69rem;
  }
  .content__wrapper {
    width: 100%;
    max-width: 69rem;
    margin: 0 auto;
  }

  .mobile__nav {
    display: none;
  }

  .nav__hamburger {
    display: none;
  }

  .desktop__nav {
    z-index: 1;
    display: block;
  }

  .desktop__nav ul {
    display: flex;
    justify-content: space-between;
    gap: 34px;
    flex-direction: row;
  }

  .header__wrapper > .logo {
    order: -1;
  }

  .header__wrapper > .cart {
    margin-left: 0;
  }
  /* Hero */

  .home__hero__text {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    text-align: left;
    width: 40ch;
  }

  /* Cateegories */
  .category__card__bg {
    min-height: 12.75rem;
    width: 100%;
  }
  .category__card__bg > img {
    height: 160px;
  }
  .categories__wrapper .category__card {
    min-height: 16.4rem;
    /* 263px */
    display: flex;
    align-items: flex-end;
  }
  .categories__wrapper {
    width: 100%;
  }

  .categories__wrapper ul {
    margin: 0 auto;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
  }
  .categories__wrapper ul > li {
    width: 100%;
    max-width: 69rem;
  }
  .home__categories {
    padding: 40px 40px;
  }
  /* favorites */
  .home__favorites > article {
    margin: 40px auto;
  }
  .favorite__three {
    flex-direction: row;
    gap: 30px;
    min-height: 20rem;
  }
  .home__favorites .favorite__one {
    position: relative;
    flex-direction: row;
    gap: 90px;
    padding: 0px 100px;
    text-align: left;
    min-height: 35rem;
  }
  .favorite__one picture > img {
    height: 30.81rem;
    width: auto;
  }
  .favorite__one picture {
    align-self: flex-end;
    margin-bottom: -20px;
    z-index: 1;
  }
  .fav__one__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .favorite__one .h1 {
    line-height: 58px;
  }
  .favorite__one p {
    min-width: 100%;
  }
  .favorite__one .circles {
    display: block;
    position: absolute;
    left: -170px;
    top: -35px;
    width: 59rem;
    height: 59rem;
    /* 944px */
  }
  /* footer */
  footer {
    padding-left: clamp(40px, calc(2.5rem + ((1vw - 11.8px) * 57.1429)), 280px);
    padding-right: clamp(
      40px,
      calc(2.5rem + ((1vw - 11.8px) * 57.1429)),
      280px
    );
    padding-top: 75px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, auto);
    align-items: end;
    text-align: left;
    gap: 19px 0px;
  }
  footer .accent__line {
    position: absolute;
    top: 0;
    left: clamp(40px, calc(2.5rem + ((1vw - 11.8px) * 57.1429)), 280px);
  }
  footer .logo {
    align-self: baseline;
    grid-area: 1/1/5/2;
  }
  footer > nav {
    grid-area: 1/2/5/3;
    justify-self: end;
    align-self: baseline;
    width: fit-content;
  }
  footer > nav > ul {
    flex-direction: row;
  }
  footer > p {
    grid-area: 5/1/9/2;
  }
  footer .bold {
    grid-area: 9/1/13/2;
  }
  footer .socials {
    grid-area: 5/2/9/3;
    justify-self: end;
  }
}
