:root {
    --dark-pink: hsl(22, 65%, 57%);
    --dark-gray: hsl(0, 0%, 6%);
    --light-gray: hsl(0, 0%, 95%);
    --off-white: hsl(0, 0%, 98%);
    --light-pink: hsl(21, 94%, 75%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --gray: hsl(0, 0%, 40%);

}

html {
    box-sizing: border-box;
    font-size: 100%;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Manrope", sans-serif;
}

.btn__pink {
    align-content: center;
    padding: 15px 30px;
    width: fit-content;
    border: none;
    background-color: var(--dark-pink);
    color: var(--white);
    transition: background-color .25s ease-in-out;
}

.btn__pink:hover {
    background-color: var(--light-pink);
}

.btn__black {
    align-content: center;
    padding: 15px 30px;
    width: fit-content;
    border: 1px solid var(--black);
    background-color: var(--white);
    color: var(--black);
    transition: background-color .25s ease-in-out;
}

.btn__black:hover {
    background-color: var(--black);
    color: var(--white);
}

.btn__category {
    align-content: space-between;
    padding: 0;
    border: none;
    background: none;
    color: var(--gray);
    transition: color .25s ease-in-out;
}

.btn__category:hover {
    color: var(--dark-pink);
}
.btn__category > img{
    margin-inline-start: 13px;
}